.o-container {
  width: 100%;
  padding: 9.6rem 0;

  &--homeHero{
    padding: 12.8rem 0 8rem 0;

    @media (min-width: 1024px) {
      padding: 20rem 0 18rem 0;
    }
  }

  &--footer{
    padding: 6.4rem 0 3.2rem 0;
  }
}