@use '../abstracts/globals' as *;

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 1.6rem ;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  outline: none;
  
  &--light, 
  &--small{
    border: 0.1rem solid color(text-dark);
    background-color: color(full-white);
    &:hover, &:focus {
      background-color: color(background-light);
    }
  }

  &--primary,
  &--small-primary {
    background-color: color(primary);
    color: color(surface-light);
    border: none;
    box-shadow: 0 4px 10px rgba(91, 54, 172, 0.3);

    &:hover, &:focus {
      background-color: color(primary-dark);
    }
  }

  &--small, 
  &--small-primary { 
    padding: 1rem 2rem;
    border-radius: 4rem;
  }

  

  &__icon{
    margin-left: 0.5rem;
  }

  
}