@use '../abstracts/globals' as *;

.c-featured {

  &__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
    width: 100%;
    max-width: 50rem;

    @media (min-width: 1024px) {
      font-size: 3.6rem;
      line-height: 4rem;
      max-width: 60rem;
    }
  }

  &__text{
    margin-bottom: 1.6rem;
    width: 100%;
    max-width: 50rem;
    @media (min-width: 1024px) {
      margin-bottom: 0;
      max-width: 67.2rem;
    }
  }

  &__card-group{
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 768px) {
      gap:3.2rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

}