@use '../abstracts/globals' as *;

.c-footer-cta {
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    to right,
    #5B36AC 0%,
    #5B36AC 70%,
    #452784 100%
  );
   
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-13rem, -13rem);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40rem;
    height: 40rem;
    background-color: rgba(color(secondary), 0.2);
    border-radius: 50%;
    transform: translate(15rem, 15rem);
  }



  &__content {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading{
    font-family: $font-inter;
    font-size: 3rem;
    margin-bottom: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;

    &::first-letter{
      text-transform: uppercase;
    }

    @media (min-width: 1024px) {
      font-size: 4.8rem;
      line-height: 1;
      max-width: 76.8rem;
    }
  }

  &__text{
    font-size: 2rem;
    color: color(text-primary);
    line-height: 2.8rem;
    max-width: 67.2rem;
  }

  &__btn-group{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}