@use '../abstracts/globals' as *;

.c-form {

  &__grid{

    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.4rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__grid-item{

    @media (min-width: 768px) {
    &[data-span="2"]{
      grid-column: span 2;
    }
    }
  }
  
  &__field-wrapper {
    position: relative;
  }
  
  &__select-expand,
  &__field-icon {
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: color(soft-gray);
  }
  
  &__field-icon--text-area{
    top: 1.2rem;
    transform: translateY(0);
  }

  &__select-expand{
    right: 1rem;
    left: unset;
  }

  &__label,
  label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
  }

  &__input:not([type="checkbox"]),
  &__select,
  &__textarea{
    background-color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    border: 0.1rem solid color(text-dark);
    border-radius: 1.6rem;
    outline: none;
    &:focus-visible {
      border-color: transparent;
      outline: 0.2rem solid color(primary);
    }
  }

  &__select{
    appearance: none;
  }

  &__textarea{
    min-height: 10rem;
  }
  
  &__submit-btn {
    width: 100%;
    transition: 0.2s ease-in-out;
    &:hover, &:focus {
      transform: translateY(-1rem);
    }
  }

  &__label.c-form__label--checkbox {

    display: inline-flex ;
    align-items: center;
    cursor: pointer;

    
    &>span{

      width: 1.6rem;
      height: 1.6rem;
      border: 0.1rem solid #bbbcbf;
      border-radius: 1rem;
      margin-right: 0.8rem;
      position: relative;
    }

    & input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    & input:checked + span {
      background-color: color(primary);
      outline: 0.2rem solid color(primary);
      outline-offset: 0.2rem;
    }

    & input:checked + span::after {
      content: "";
      position: absolute;
      top: 0.2rem;
      left: 0.5rem;
      width: 0.4rem;
      height: 0.8rem;
      border: solid color(surface-light);
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg);
    }
    
  }

}