@use '../abstracts/globals' as *;

.c-homeHero{
  background-color: color(background-light);

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 4.8rem;
    }

  }

  &__text-container{
    padding-bottom: 4.8rem;
     @media (min-width: 1024px) {
       padding: 0;
     }
  }

  &__pill{
    display: inline-block;
    margin-bottom: 2.4rem;
    text-transform: capitalize;
    color: color(primary);
    font-weight: 600;
    font-size: 1.4rem;
    background-color: color(accent-purple-light);
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
  }

  &__title{
    font-size: 3.6rem;
    line-height: 1.25;
    font-weight: 700;
    width: 100%;
    max-width: 58.4rem;
    margin-bottom: 2.4rem;

     @media (min-width: 1024px) {
      line-height: 1;
      font-size: 6rem;
    }
  }

  &__description{
    font-size: 1.8rem;
    line-height: 1.6;
    max-width: 51.2rem;
    margin-bottom: 3.2rem;
  }

  &__btnGroup{
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    &>.c-btn{
      width: 100%;
    }

     @media (min-width: 768px) {
      flex-wrap: nowrap;
      &>.c-btn{
        width: auto;
      }
    }
  }

  &__img-container{
    position: relative;
    
    &>img{
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      border-radius: 2.4rem;
      border: 0.4rem solid white;
      object-fit: cover;

      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

     @media (min-width: 1024px) {
        min-height: 45.6rem;
        min-width: 45.6rem;
     }
  }

  &__card{
    top: 0;
    right: 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    animation: float 3s ease-in-out infinite;
    min-width: 21.2rem;
    
    @media (min-width: 768px) {
      animation: bounce 3s infinite;
    }

    &--bottom{
      top: unset;
      right: unset;
      bottom: 0;
      left: 0;
      animation: floatBottom 2s ease-in-out infinite;
      // transform: translateY(40%);
      @media (min-width: 768px) {
        animation: bounceBottom 4s infinite;
      }
    }
  }
    
}

// Mobile animation
@keyframes float {
  0%   { transform: translateY(-40%); }
  50%  { transform: translateY(-50%); }
  100% { transform: translateY(-40%); }
}

@keyframes floatBottom {
  0%   { transform: translateY(40%); }
  50%  { transform: translateY(50%); }
  100% { transform: translateY(40%); }
}

// Desktop animation
@keyframes bounce {
  0%, 100% {
    transform: translate(15%, -20%) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translate(15%, -50%) translateY(30%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounceBottom {
   0%, 100% {
    transform: translate(-15%, 20%) translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translate(-15%, 20%) translateY(30%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
