@use '../abstracts/globals' as *;

.c-pill{
  display: inline-block;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
}