@use '../abstracts/globals' as *;

.c-post-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 1.6rem;
  background-color: color(surface-light);
  transition: .3s ease-in-out;
  box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.05);
 
   &:hover{
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
                  0 8px 10px -6px rgba(0, 0, 0, 0.1);
   }
  
  &__img-box {
    position: relative;
    min-height: 19.2rem;
  }

  &__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__pill {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    display: inline-block;
    position: absolute;
    background-color: rgba(color(surface-light), 0.9);
    left: 0;
    bottom: 0;
    transform: translate(1.6rem, -1.6rem);
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;
  }

  &__content{
    padding: 2.4rem;
  }

  &__title{
    font-family: $font-inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
  }

  &__text{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1.6rem;
  }

  &__cta{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: color(primary);

    &:hover,
    &:focus{
      color: color(primary-dark);
    }
  }

}