@use '../abstracts/globals' as *;

.c-services{
  display: flex;
  flex-direction:column;
 
  background-color: color(surface-light);

  &__content{
    width: 100%;
    margin-bottom: 6.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pre-heading{
    font-family: $font-montserrat;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: color(primary);
    margin-bottom: 1.2rem;
    display: inline-block;
    line-height: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.45px;
  }

  &__heading{
    font-family: $font-inter;
    font-size: 3rem;
    margin-bottom: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;

    &::first-letter{
      text-transform: uppercase;
    }

    @media (min-width: 1024px) {
      font-size: 4.8rem;
      line-height: 1;
      max-width: 76.8rem;
    }
  }

  &__text{
    font-size: 1.8rem;
    color: color(text-primary);
    line-height: 2.8rem;
    max-width: 76.8rem;
  }

  &__card-group{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}