@use '../abstracts/globals' as *;

.c-skills{
  border-bottom: 1px solid color(text-dark);

   &__content{
    width: 100%;
    margin-bottom: 6.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading{
    font-family: $font-inter;
    font-size: 3rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
    line-height: 4rem;

    &::first-letter{
      text-transform: uppercase;
    }

    @media (min-width: 1024px) {
      font-size: 3.6rem;
      line-height: 1;
      max-width: 76.8rem;
    }
  }

  &__text{
    font-size: 1.6rem;
    color: color(text-primary);
    line-height: 2.8rem;
    max-width: 67.2rem;
  }

  &__card-grid{
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
      gap:3.2rem;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }


}