@use '../abstracts/globals' as *;

.c-split-content-plus{
 
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  
  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    font-family: $font-montserrat;
    color: color(secondary);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    line-height: 2.8rem;

  }

  &__heading{
    font-family: $font-inter;
    font-size: 3.6rem;
    font-weight: 700;
    color: color(surface-light);
    line-height: 4rem;
    margin-bottom: 2.4rem;
    width: 100%;

    @media (min-width: 1024px) {
      font-size: 4.8rem;
      max-width: 57.6rem;;
    }
  }

  &__text{
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
    color: color(surface-light);
    @media (min-width: 1024px) {
      max-width: 57.6rem;;
    }
  }

  &__card-group{
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
  }

  &__card{
    padding: 2.4rem;
    background-color: rgb(255 255 255 / 0.1);
    border-radius: 1.6rem;

    @media (min-width: 1024px) {
      max-width: 27.6rem;
    }

    &--img{
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: color(surface-light);
      transform: translate(10%, 19%);
      max-width: 28.6rem;

      &>h2{
        color: color(dark);
        margin-bottom: 0.4rem;
      }
      &>p{
        color: color(text-secondary);
      }
    }
  }

  &__card-counter{
    font-size: 4.8rem;
    font-weight: 700;
    font-family: $font-montserrat;
    margin-bottom: 0.8rem;
    line-height: 1;
  }

  &__icon{
    font-size: 3rem;
    display: inline-block;
    margin-bottom: 1.2rem;
  }

  &__card-title{
    color: color(surface-light);
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
    line-height: 2.8rem;
  }

  &__card-text{
    font-size: 1.4rem;
    color: color(accent-purple-light);
    line-height: 2rem;
  }

   &__img-container{
    position: relative;
    
    &>img{
      width: 100%;
      height: 100%;
      max-width: 52rem;
      border-radius: 2.4rem;
      border: 0.4rem solid color(primary);
      object-fit: cover;

      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }
  }

}