/*
* Colors
* Define colors in the $color map, and grab them using the function
* i.e. background-color: color(yellow);
*/

/*
//* Text Color Warnings

//* Blue - Lighter 60% and Blue Lighter - 80% should not be used as BG for white text, or as text on white BGs

//* Blue - Lighter 40% can only be used for text on white (or reversed) at 20px and bold or larger, or 24px or larger. */

@use "sass:map";


$colors: (
  "primary": #5B36AC, // Main Purple from logo
  "primary-dark": #452784,
  "primary-md":#9333EA,
  "accent-purple-light": #F3EFFF,
  "secondary": #FFA000, // Orange accent inferred from text/icons
  "secondary-md": #EAB308,
  "secondary-dark": #EA580C,
  "background-light": #F9FAFB,
  "surface-light": #FFFFFF,
  "full-black": #000000,
  "dark": #111827,
  "surface-dark": #1F2937,
  "text-light": #374151,
  "text-dark": #E5E7EB,
  "text-primary": #4B5563,
  "text-secondary": #6B7280,
  "soft-gray": #9CA3AF,
  "green-light": #DCFCE7,
  "green-md":#22C55E,
  "green-dark": #16A34A,
  "blue-light": #60A5FA,
  "blue-surface": #2563EB,
  "blue-dark": #1E40AF,
  "blue-md":#3B82F6,
  "blue-green": #0891B2,
);

@function color($key) {
  @if map.has-key($colors, $key) {
    @return map.get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
