// <link href="https://fonts.googleapis.com" rel="preconnect"/>
// <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
// <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet"/>



/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700&display=swap');

/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');


$font-inter: 'Inter', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
