@use '../../abstracts/globals' as *;

.c-footer{
  background-color: color('surface-light');
  padding: 6.4rem 0 3.2rem 0;
  width: 100%;
 
  &__menu-wrapper{
   
    width: 100%;
    max-width: 128rem;
    padding: 0 1.6rem;
    margin: 0 auto;
    

    @media (min-width: 768px) {
      padding: 0 2.4rem;
    }

    @media (min-width: 992px) {
      padding: 0 3.2rem;
    }
  }
  
  &__nav{
    border-bottom: 0.1rem solid rgba(color(text-dark), 0.5);
  }

  &__columns-wrapper{
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
  }
  
  &__column-item{

    margin-bottom: 4.8rem;


    @media (min-width: 768px) {
      width: 48%;
    }

    @media (min-width: 992px) {
      width: auto;
    }
  }

  &__column-title{
    font-family: $font-inter;
    margin-bottom: 2.4rem;
    text-transform: capitalize;
    font-weight: 700;
  }

  &__column-description{
    margin-top: 2.4rem;
    
    color: color('text-secondary');
    font-size: 1.4rem;
    line-height: 1.625;
    margin-bottom: 2.4rem;
    
    @media (min-width: 820px) {
      width: auto;
      max-width: 26.8rem;
    }
  }


  &__social-links-container{
    display: flex;
    gap: 1.6rem;
  }

  &__social-link{ 
    &:hover,
    &:focus{
      color: color('primary');
    }
  }

  // &__column-list-nav{
    
  // }

  &__column-list-item{
    font-size: 1.4rem;
    margin-top: 1.4rem;
    text-transform: capitalize;
  }

   &__column-link{
    position: relative;
    transition: color 0.3s;
    color: color(text-primary);
    

    &::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: color(primary);
      transform: scaleX(0);
      transform-origin: right;
      bottom: -0.5rem;
      transition: transform 0.3s;
    }
    &.active::after,
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover, 
    &:focus {
      color: color(primary);
    }

    &--contact{
      display: inline-flex;
      align-items: center;
      gap: 0.8rem;
      
    }    

  }

  &__column-link-icon{
    font-size: 1.8rem;
  }

  &__legal-wrapper{
    padding-top:3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: color(text-secondary);
    line-height: 2rem;
    gap: 1.6rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &__legal-links{
    &>a:last-child{
      margin-left: 2.4rem;
    }
    &>a:hover{
      color: color(primary-dark);
    }
  }


}