@use '../../abstracts/globals' as *;


.c-header {
  background-color: color(surface-light);
  opacity: 0.9;
  border-bottom: 0.1rem solid rgba(color(text-dark), 0.5);
  position: fixed;
  z-index: 9999;
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(1.2rem); /* Safari suport */

  &.is-menu-open {
    opacity: 1;
  }
 
}