@use '../../abstracts/globals' as *;

.c-logo{
  // &__brand-container{

  // }
  &__brand{
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

   &__text{
    font-family: $font-montserrat;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-transform: capitalize;
    color: color(primary);
  }

  &__text-light{
    font-weight: 300;
  }

  &__icon{
    font-family: $font-montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: color(full-white);
    background-color: color(primary);
    padding: 0.4rem 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    text-transform: uppercase;

    &--small{
      font-size: 2rem;
      padding: 0.2rem 1rem;
    }
  }

}