@use '../../abstracts/globals' as *;

.c-nav {
  display: flex;
  align-items: center;
  height:8rem;
  
  &__brand{
    
    max-width: 15.4rem;
    @media (min-width: 768px) {
      max-width: 18.4rem;
    }
  }

  &__list-container{
    margin-left: auto;
    background-color: color(surface-light);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    min-height: 100vh;
    padding-top: 3.2rem;
    transform: translateX(-100%);
    transition: transform 0.3s;
    
    &.is-open{
      transform: translateX(0);
      display: inline-block;
    }

    @media (min-width: 820px) {
      display: inline-block;
      position: static;
      width: auto;
      min-height: auto;
      padding-top: 0;
      transform: translateX(0);
    }
    
  }

  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    @media (min-width: 820px) {
      flex-direction: row;
    }
  }

  &__item{
    font-weight: 500;
    text-transform: capitalize;
  }

  &__link{
    position: relative;
    transition: color 0.3s;
    color: color(text-primary);

    &::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      max-height: 0.2rem;
      background-color: color(primary);
      transform: scaleX(0);
      transform-origin: right;
      bottom: -1.6rem;
      transition: transform 0.3s;
    }
    &.active::after,
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover, &:focus {
      color: color(primary);
    }
    
    @media (min-width: 820px) {
      &::after{
        bottom: -2.9rem;
      }
    }

  }

  &__menu-btn{
    margin-left: auto;
    @media (min-width: 820px) {
      display: none;
    }
  }
  &__menu-btn > span{
    font-size: 3rem;
    color: color(text-primary);
  }

}